In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
df = DataFrame([{'product_id':23, 'name':'computer', 'wholesale_price': 500, 
                 'retail_price':1000, 'sales':100},
               {'product_id':96, 'name':'Python Workout', 'wholesale_price': 35,
                'retail_price':75, 'sales':1000},
               {'product_id':97, 'name':'Pandas Workout', 'wholesale_price': 35,
                'retail_price':75, 'sales':500},
               {'product_id':15, 'name':'banana', 'wholesale_price': 0.5,
                'retail_price':1, 'sales':200},
               {'product_id':87, 'name':'sandwich', 'wholesale_price': 3,
                'retail_price':5, 'sales':300},
               ])
# 간단히 설명: [{},{},{}]는 "파이썬 리스트(list) 안에 딕셔너리(dict)들이 들어있는 자료형"이라고 설명한다.
# {}는 리스트이며, 그 안의 asd: 123, qwe: 456, zxc: 789는 딕셔너리이다.
df
#from , import 로 pandas의 Series, DataFrame을 불러왔기에 df = DataFrame()로 사용가능
#직접 딕셔너리를 나열해 데이터프레임을 생성함
#행은 데이터의 개수를 의미함 , 열은 속성(특성)을 의미함

   product_id            name  wholesale_price  retail_price  sales
0          23        computer            500.0          1000    100
1          96  Python Workout             35.0            75   1000
2          97  Pandas Workout             35.0            75    500
3          15          banana              0.5             1    200
4          87        sandwich              3.0             5    300

In [3]:
((df['retail_price'] - df['wholesale_price']) * df['sales']).sum()

#행별로 계산이 진행됨.
# (df['retail_price'] - df['wholesale_price'])
# 이 실행 결과는 시리즈가 나옴 이유는 데이터프레임에서 특정 열을 선택하면 시리즈가 나오기 때문

# ((df['retail_price'] - df['wholesale_price']) * df['sales']) 각각의 이윤이 나옴 

# 데이터프레임으로 가져오기 위해서는 df의 뒤 대괄호에 리스트를 사용하면 됨
# df[['retail_price']]


# df[['retail_price']] - df[['wholesale_price']]
# DataFrame끼리 뺄셈하면 컬럼(레이블)과 인덱스 기준으로 정렬되며, 컬럼명이 다르면 대응하는 값이 없어 NaN이 생김.

np.float64(110700.0)