In [1]:
import pandas as pd
from pandas import Series, DataFrame

trip_distance = pd.read_csv('../data/taxi-distance.csv', header=None).squeeze()
passenger_count = pd.read_csv('../data/taxi-passenger-count.csv', header=None).squeeze()

df = DataFrame({'trip_distance': trip_distance,
                'passenger_count': passenger_count})

In [2]:
df.head(10)

   trip_distance  passenger_count
0           1.63                1
1           0.46                1
2           0.87                1
3           2.13                1
4           1.40                1
5           1.40                1
6           1.80                1
7          11.90                4
8           1.27                1
9           0.60                1

In [3]:
# iqr = df['trip_distance'].quantile(0.75) - df['trip_distance'].quantile(0.25)

iqr = (
    df['trip_distance'].quantile(0.75) -
    df['trip_distance'].quantile(0.25)
)

In [4]:
# outlier distances -- below
df[
    df['trip_distance'] < df['trip_distance'].quantile(0.25) - 
    1.5*iqr
]

Empty DataFrame
Columns: [trip_distance, passenger_count]
Index: []

In [5]:
# outlier distances -- above
df[
    df['trip_distance'] > df['trip_distance'].quantile(0.75) +
    1.5*iqr
]

      trip_distance  passenger_count
7             11.90                4
60             9.30                1
73            12.65                1
82            10.24                3
88            23.76                2
...             ...              ...
9975           7.60                1
9976          12.60                1
9979          11.30                1
9980           9.13                1
9982           9.30                1

[1219 rows x 2 columns]

In [6]:
# mean passenger count for outliers
df['passenger_count'][
    df['trip_distance'] > df['trip_distance'].quantile(0.75) +
    1.5*iqr
].mean()

np.float64(1.7301066447908122)

In [7]:
df['passenger_count'].mean()

np.float64(1.6594659465946595)