In [1]:
import pandas as pd
from pandas import Series, DataFrame

trip_distance = pd.read_csv('../data/taxi-distance.csv', header=None).squeeze()
passenger_count = pd.read_csv('../data/taxi-passenger-count.csv', header=None).squeeze()
#trip_distance 는 택시 거리 데이터, passenger_count 는 승객 수 데이터
df = DataFrame({'trip_distance': trip_distance,
                'passenger_count': passenger_count})

# 이를 가지고 새로운 데이터 프레임을 생성
df

      trip_distance  passenger_count
0              1.63                1
1              0.46                1
2              0.87                1
3              2.13                1
4              1.40                1
...             ...              ...
9994           2.70                1
9995           4.50                1
9996           5.59                1
9997           1.54                6
9998           5.80                1

[9999 rows x 2 columns]

In [2]:
df.head(10) #0부터 9행까지 10개 출력

   trip_distance  passenger_count
0           1.63                1
1           0.46                1
2           0.87                1
3           2.13                1
4           1.40                1
5           1.40                1
6           1.80                1
7          11.90                4
8           1.27                1
9           0.60                1

In [3]:
# iqr = df['trip_distance'].quantile(0.75) - df['trip_distance'].quantile(0.25)

iqr = (
    df['trip_distance'].quantile(0.75) -
    df['trip_distance'].quantile(0.25)
)
# IQR(Interquartile Range) : 3사분위수 - 1사분위수

In [4]:
# outlier distances -- below
#이상치 까지의 거리 (낮은 값을 가진 이상치)
df[
    df['trip_distance'] < df['trip_distance'].quantile(0.25) - 
    1.5*iqr
]
#데이터프레임에서 trip_distance 가 1사분위수 - 1.5*IQR 보다 작은 값을 가진 행들을 필터링

Empty DataFrame
Columns: [trip_distance, passenger_count]
Index: []

In [5]:
# outlier distances -- above
#이상치 까지의 거리 (높은 값을 가진 이상치)
df[
    df['trip_distance'] > df['trip_distance'].quantile(0.75) +
    1.5*iqr
]
#데이터프레임에서 trip_distance 가 3사분위수 + 1.5*IQR 보다 큰 값을 가진 행들을 필터링
#1219개의 이상치가 발견됨.

      trip_distance  passenger_count
7             11.90                4
60             9.30                1
73            12.65                1
82            10.24                3
88            23.76                2
...             ...              ...
9975           7.60                1
9976          12.60                1
9979          11.30                1
9980           9.13                1
9982           9.30                1

[1219 rows x 2 columns]

In [6]:
# mean passenger count for outliers
#이상치에 대한 평균 승객 수
df['passenger_count'][
    df['trip_distance'] > df['trip_distance'].quantile(0.75) +
    1.5*iqr
].mean()
#낮은 값에서의 이상치는 존재하지 않았기에, 높은 값에서의 이상치에 대한 평균 승객 수를 계산
#이상치에 대한 평균 승객 수는 약 1.73명으로 나타남.

np.float64(1.7301066447908122)

In [7]:
df['passenger_count'].mean()
#이상치에 대한 평균 승객 수가 전체 평균 승객 수(약 1.65명)보다 약간 높음.

np.float64(1.6594659465946595)