In [39]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [40]:
df = DataFrame([{'product_id':23, 'name':'computer', 'wholesale_price': 500, 
                 'retail_price':1000, 'sales':100},
               {'product_id':96, 'name':'Python Workout', 'wholesale_price': 35,
                'retail_price':75, 'sales':1000},
               {'product_id':97, 'name':'Pandas Workout', 'wholesale_price': 35,
                'retail_price':75, 'sales':500},
               {'product_id':15, 'name':'banana', 'wholesale_price': 0.5,
                'retail_price':1, 'sales':200},
               {'product_id':87, 'name':'sandwich', 'wholesale_price': 3,
                'retail_price':5, 'sales':300},
               ])

df

   product_id            name  wholesale_price  retail_price  sales
0          23        computer            500.0          1000    100
1          96  Python Workout             35.0            75   1000
2          97  Pandas Workout             35.0            75    500
3          15          banana              0.5             1    200
4          87        sandwich              3.0             5    300

# Beyond 1

On what products is our retail price more than twice the wholesale price?

소매가(retail price)가 도매가(wholesale price)의 두 배를 초과하는 제품은 무엇인가?

In [41]:
# See? It's super profitable to be a bookseller!
df['name'][df['retail_price'] * 0.5 > df['wholesale_price']]
#df['name']으로 도매가의 두 배를 초과하는 제품을 찾아 이름을 출력
#[df['retail_price'] * 0.5 > df['wholesale_price']]는 도매가의 두 배를 초과하는 제품을 필터링
#소매가의 0.5배가 도매가보다 큰 경우 = 도매가의 두 배를 소매가가 초과하는 경우

1    Python Workout
2    Pandas Workout
Name: name, dtype: object

# Beyond 2

How much did the store make from food vs. computers vs. books?  (You can just retrieve based on the index values, not anything more sophisticated.)

식품, 컴퓨터, 도서별로 매장은 얼마를 벌었는가? 인덱스를 통해 단순히 조회하면 된다.

In [42]:
# computers
((df['retail_price'] - df['wholesale_price']) * df['sales'])[0].sum()
#컴퓨터
#컴퓨터의 인덱스는 0이므로
#(소매가 - 도매가) * 판매량 = 이익을 구한 후 인덱스 0을 적용후, 각각의 항목을 더한다.
# a = ((df['retail_price'] - df['wholesale_price']) * df['sales'])
# a --> 각각의 이익들을 구한 값이 들어있음
#이 중 0행의 값은 컴퓨터 값이기에 a[0]을 하면 컴퓨터의 이익이 나온다.

np.float64(50000.0)

In [43]:
# books
((df['retail_price'] - df['wholesale_price']) * df['sales'])[[1,2]].sum()
#책은 python workout과 pandas workout이기에
#인덱스 1,2를 적용해 1행 2행의 값을 필터링해 .sum()으로 더한다.

np.float64(60000.0)

In [44]:
# food 
((df['retail_price'] - df['wholesale_price']) * df['sales'])[[3,4]].sum()
#음식은 바나나와 샌드위치이기에
#인덱스 3,4를 적용해 3행 4행의 값을 필터링해 .sum()으로 더한다.

np.float64(700.0)

# Beyond 3

Because your store is doing so well, you're able to negotiate a 30% discount on the wholesale price of goods. Calculate the new net income.

매장이 잘 되고 있어서, 상품 도매가에 대해 30% 할인을 협상할 수 있었습니다.
새로운 순수익(net income)을 계산하시오

In [45]:
((df['retail_price'] - df['wholesale_price']*0.7) * df['sales']).sum()

#전체 순수익은 ((df['retail_price'] - df['wholesale_price']) * df['sales']).sum()로 구할 수 있다.
#이에 대해 30%를 할인해주기에 70%를 곱한 값이 새로운 순수익이 되게 된다.

np.float64(141750.0)