In [4]:
import pandas as pd
from pandas import Series, DataFrame

df = DataFrame([{'product_id':23, 'name':'computer', 'wholesale_price': 500,
                 'retail_price':1000, 'sales':100},
               {'product_id':96, 'name':'Python Workout', 'wholesale_price': 35,
                'retail_price':75, 'sales':1000},
               {'product_id':97, 'name':'Pandas Workout', 'wholesale_price': 35,
                'retail_price':75, 'sales':500},
               {'product_id':15, 'name':'banana', 'wholesale_price': 0.5,
                'retail_price':1, 'sales':200},
               {'product_id':87, 'name':'sandwich', 'wholesale_price': 3,
                'retail_price':5, 'sales':300},
               ])

df

   product_id            name  wholesale_price  retail_price  sales
0          23        computer            500.0          1000    100
1          96  Python Workout             35.0            75   1000
2          97  Pandas Workout             35.0            75    500
3          15          banana              0.5             1    200
4          87        sandwich              3.0             5    300

In [5]:
df.loc[
    df['sales'] > df['sales'].mean(), 
    ['product_id', 'name']
]
#loc는 [행, 열] 형태로 접근
#행에 조건식, 열에 원하는 열 이름 리스트를 넣어줌
#sales가 sales 평균보다 큰 행들 중 product_id와 name 열을 선택

   product_id            name
1          96  Python Workout
2          97  Pandas Workout

In [6]:
df.query('sales > sales.mean()')
#query 메서드를 사용하여 문자열로 조건을 지정
# df.query('sales > sales.mean()')[['product_id', 'name']]
#원하는 열까지 지정

   product_id            name  wholesale_price  retail_price  sales
1          96  Python Workout             35.0            75   1000
2          97  Pandas Workout             35.0            75    500