In [7]:
import pandas as pd
from pandas import Series, DataFrame

s = pd.read_csv('../data/nyc-temps.txt').squeeze()
df = DataFrame({'temp': s, 
                'hour': [0,3,6,9,12,15,18,21] * 91})

In [8]:
df.loc[
    df['temp'] < 0, 
    'temp'
]  = 0

#영하의 온도를 가진 데이터는 0으로 변경

In [9]:
df.describe()

             temp        hour
count  728.000000  728.000000
mean     1.431319   10.500000
std      2.378424    6.878589
min      0.000000    0.000000
25%      0.000000    5.250000
50%      0.000000   10.500000
75%      2.000000   15.750000
max     12.000000   21.000000