In [8]:
import pandas as pd
from pandas import Series, DataFrame

df = DataFrame([{'product_id':23, 'name':'computer', 'wholesale_price': 500,
                 'retail_price':1000, 'sales':100},
               {'product_id':96, 'name':'Python Workout', 'wholesale_price': 35,
                'retail_price':75, 'sales':1000},
               {'product_id':97, 'name':'Pandas Workout', 'wholesale_price': 35,
                'retail_price':75, 'sales':500},
               {'product_id':15, 'name':'banana', 'wholesale_price': 0.5,
                'retail_price':1, 'sales':200},
               {'product_id':87, 'name':'sandwich', 'wholesale_price': 3,
                'retail_price':5, 'sales':300},
               ])

df

   product_id            name  wholesale_price  retail_price  sales
0          23        computer            500.0          1000    100
1          96  Python Workout             35.0            75   1000
2          97  Pandas Workout             35.0            75    500
3          15          banana              0.5             1    200
4          87        sandwich              3.0             5    300

# Beyond 1


Show the ID and name of those products whose net income is in the top 25% quantile.

전체 수입이 상위 25%인 제품들의 아이디와 이름을 보여라 .

In [9]:
df['net'] = df['retail_price'] - df['wholesale_price'] * df['sales']
df.loc[
    df['net'] > df['net'].quantile(0.75), 
    ['product_id', 'name']
]
#상위 25%라는 것은 즉, 4분위수에 해당하는 값보다 큰 값(같아도 되는지 여부가 문제에 나와있지 않음)
#.quantile(0.75) : 4분위수를 구하는 함수

   product_id    name
3          15  banana

In [10]:
# Or if you prefer to use query...
df.query('net > net.quantile(0.75)')[['product_id', 'name']]
#query() 메서드 사용해 net.quantile(0.75)보다 큰 net 값을 가진 행을 필터링

   product_id    name
3          15  banana

# Beyond 2

Show the ID and name of products that have lower than average sales numbers, and whose wholesale price is greater than the average.

평균 판매량보다 적은 판매 수량을 기록하면서 도매가(wholesale price)가 평균보다 높은 제품들의 ID와 이름을 보여주세요.

In [11]:
df.loc[
    (df['sales'] < df['sales'].mean()) &
     (df['wholesale_price'] > df['wholesale_price'].mean()), 
    ['product_id', 'name']
]
#df['sales] < df['sales'].mean() : sales가 평균보다 작은 행
#df['wholesale_price'] > df['wholesale_price'].mean() : wholesale_price가 평균보다 큰 행
#& : 그리고(and) 조건

   product_id      name
0          23  computer

In [12]:
# In a case like this one, query looks much more readable
df.query('sales < sales.mean() & wholesale_price > wholesale_price.mean()')[['product_id', 'name']]
#query() 메서드 사용해 sales가 평균보다 작고 wholesale_price가 평균보다 큰 행을 필터링

   product_id      name
0          23  computer

# Beyond 3

 Show the names, wholesale price, and retail price of products with product IDs between 80 and 100, and which sold fewer than 400 units.

 제품 아이디가 80~100 사이이고, 판매량이 400개 미만인 제품들의 이름, 도매가(whole), 소매가(retail)를 보여라.

In [13]:
df.loc[
    (df['product_id'] > 80) & (df['product_id'] < 100) & (df['sales'] < 400),
    ['name', 'wholesale_price', 'retail_price']
]
#df['product_id'] > 80 : product_id가 80보다 큰 행
#df['product_id'] < 100 : product_id가 100보다 작은 행
#df['sales'] < 400 : sales가 400보다 작은 행

       name  wholesale_price  retail_price
4  sandwich              3.0             5

In [14]:
# and with query...

df.query('product_id > 80 & product_id < 100 & sales < 400')[['name', 'wholesale_price', 'retail_price']]
#query() 메서드 사용해 product_id가 80보다 크고 100보다 작으며 sales가 400보다 작은 행을 필터링

       name  wholesale_price  retail_price
4  sandwich              3.0             5