In [75]:
import pandas as pd
from pandas import Series, DataFrame

df_2019_jul = pd.read_csv('../data/nyc_taxi_2019-07.csv',
                usecols=['passenger_count', 
                        'total_amount', 'payment_type'])
df_2019_jul['year'] = 2019
# df_2019_jul['year'] = [2019] * len(df_2019_jul) 
# 리스트 곱하기 연산으로 2019가 반복된 리스트를 만들어 year 칼럼에 넣는 방법

df_2020_jul = pd.read_csv('../data/nyc_taxi_2020-07.csv',
                usecols=['passenger_count', 
                        'total_amount', 'payment_type'])
df_2020_jul['year'] = 2020

df = pd.concat([df_2019_jul, df_2020_jul])
#concat 함수로 두 데이터프레임을 하나로 합친다.
#이때, 기본적으로 행 방향으로 합쳐진다. (axis=0)
#따라서 같은 인덱스를 가진 행이 존재할 수 있다.
#또한, axis=1로 지정하면 열 방향으로 합칠 수 있다.
#이때도, 같은 컬럼을 가진 열이 존재할 수 있다.


# pd.concat(objs, axis=0, join='outer', ignore_index=False)
# objs: 리스트나 딕셔너리 형태의 DataFrame/Series 모음
# axis=0: 행 기준(세로 방향)으로 연결 → 기본값
# axis=1: 열 기준(가로 방향)으로 연결
# join='outer': 모든 인덱스를 합침 (없는 값은 NaN)
# join='inner': 공통된 인덱스만 유지
# ignore_index=True: 새로 인덱스를 다시 매김

df = pd.concat([df_2019_jul, df_2020_jul],ignore_index=True)
df #ignore_index=True 옵션을 주면 0부터 시작하는 새로운 인덱스가 매겨진다.
#데이터를 행을 기준으로 합치는데, 컬럼이 둘다 동일하기에 여기서 join 옵션은 큰 의미가 없다.
#이를 열 방향으로 하고 확인해보면
# df = pd.concat([df_2019_jul, df_2020_jul], axis=1,join='inner')
# df
#pd.concat([df_2019_jul, df_2020_jul], axis=1)까지만 했을 때
#6310419개의 행이 있다. (join='outer'가 기본값)
#pd.concat([df_2019_jul, df_2020_jul], axis=1,join='inner')
#join='inner' 옵션을 주면 6_310_419개의 행이 800_412개가 된다.
#그 이유는 2020년도의 데이터가 800_412개인데, join='inner'옵션을 주면
#공통된 인덱스만 유지하기에 2020년도의 데이터 개수로 맞춰지게 된다.

         passenger_count  payment_type  total_amount  year
0                    1.0           1.0          4.94  2019
1                    1.0           2.0         20.30  2019
2                    1.0           1.0         70.67  2019
3                    1.0           1.0         66.36  2019
4                    0.0           1.0         15.30  2019
...                  ...           ...           ...   ...
7110826              NaN           NaN         83.50  2020
7110827              NaN           NaN         19.78  2020
7110828              NaN           NaN         38.45  2020
7110829              NaN           NaN         29.77  2020
7110830              NaN           NaN         51.90  2020

[7110831 rows x 4 columns]

In [76]:
# How many rides were taken in 2019 vs. 2020?

# 2019년에 이루어진 승차 수와 2020년에 이루어진 승차 수는 각각 얼마인가요?
(
    df.loc[df['year'] == 2019, 'total_amount'].count() -
    df.loc[df['year'] == 2020, 'total_amount'].count()
)
#이때 'total_amount'라는 행을 선택한 이유는
#아무 열중에 결측치가 없는 열을 선택한 것
# df['total_amount'].isnull().sum() 이 코드는 isnull()을 이용해 결측치가 존재하는지 확인하는 코드이다.
# False이면 False는 0으로 간주되기에 합이 0이 나오면 결측치가 없다는 의미이다.


#5510007명만큼 탑승객수가 차이난다.

np.int64(5510007)

In [77]:
# How much money was collected in 2019 vs. 2020?
(
    df.loc[df['year'] == 2019, 'total_amount'].sum() -
    df.loc[df['year'] == 2020, 'total_amount'].sum()
)
#이때는 count()메서드가 아닌, sum() 메서드를 사용해 얼마나 많은 돈을 벌었는지를 확인하는 코드

np.float64(108848979.24000001)

In [78]:
# Did the proportion of trips with more than passenger change dramatically?
#승객수가 1명 초과인 탑승 비율이 크게 변했는가?
df.loc[(df['year'] == 2019) & 
       (df['passenger_count'] > 1), 'passenger_count'].count() / df.loc[df['year'] == 2019, 'payment_type'].count()

df.loc[(df['year'] == 2019) & (df['passenger_count'] > 1), 'passenger_count'].count()
#2019년도 데이터 중, 승객수가 1명을 초과하는 데이터의 수를 센 뒤
df.loc[df['year'] == 2019, 'payment_type'].count()
#2019년도 데이터 중 payment_type 열의 데이터를 센 뒤 나눔

#하지만 passenger_count가 분자이기 때문에 분모도 passenger_count의 데이터 개수로 맞춰주는 것이 맞음


print("결제수단 결측치 개수 " ,df['payment_type'].isnull().sum())
print("승객수 결측치 개수 " ,df['passenger_count'].isnull().sum())
#결측치 개수는 동일하기에 결과에는 이상이 없음.

결제수단 결측치 개수  96806
승객수 결측치 개수  96806

In [79]:
df.loc[(df['year'] == 2020) & 
       (df['passenger_count'] > 1), 'passenger_count'].count() / df.loc[df['year'] == 2020, 'payment_type'].count()

np.float64(0.2061513222563435)

In [80]:
# Did people use cash less in 2019 or 2020?
df.loc[(df['year'] == 2019) & 
       (df['payment_type'] == 2), 'payment_type'].count() / df.loc[df['year'] == 2019, 'payment_type'].count()

np.float64(0.2870595845428793)

In [81]:
df.loc[(df['year'] == 2020) & 
       (df['payment_type'] == 2), 'payment_type'].count() / df.loc[df['year'] == 2020, 'payment_type'].count()

np.float64(0.320558865998251)