In [36]:
import pandas as pd
from pandas import Series, DataFrame

df = pd.read_csv('https://api.blockchain.info/charts/market-price?format=csv',
                header=None,
                names=['date', 'value'])
#url에서 직접 데이터를 읽어옴.
# 'https://api.blockchain.info/charts/market-price?format=csv'
# 블록체인닷인포(blockchain.info)에서 제공하는 API URL입니다.
# market-price 차트 데이터를 CSV 형식으로 요청한 것입니다.
# 즉, 비트코인의 일일 시장 평균 가격 데이터를 CSV로 가져옵니다.

#csv파일을 읽어보면, 날짜와, 가격으로 이루어진 데이터가 컬럼없이 바로 존재함.
#따라서 header=None으로 지정해주고, names로 컬럼명을 지정해줌.

In [37]:
df.tail(1)['value']
#tail(1)은 데이터프레임의 마지막 행을 선택하는 메서드입니다.
#마지막 행의 'value' 컬럼 값을 선택합니다.

365    117128.97
Name: value, dtype: float64

In [38]:
df.loc[df['value'] == df['value'].min(), ['date', 'value']]

#가격이 가장 싼 날의 날짜와 가격을 출력

                   date     value
22  2024-10-11 00:00:00  60269.24

In [39]:
df.loc[df['value'] == df['value'].max(), ['date', 'value']]
#가격이 가장 비싼 날의 날짜와 가격을 출력

                    date      value
329  2025-08-14 00:00:00  123359.45

In [40]:
df.set_index('date').idxmin()
#인덱스를 날짜로 설정한 뒤, 첫 시작 날짜 즉, 가장 오래된 날짜를 출력한다.

value    2024-10-11 00:00:00
dtype: object

In [41]:
df.set_index('date').idxmax()
#인덱스를 날짜로 설정한 뒤, 가장 최근 날짜를 출력한다.

value    2025-08-14 00:00:00
dtype: object

In [42]:
df.set_index('date').agg(['idxmin', 'idxmax'])
#agg 메서드를 사용해 각 컬럼에 대해 idxmin과 idxmax를 동시에 적용
#즉, 날짜가 가장 오래된 날과 가장 최근 날짜를 한 번에 출력

                      value
idxmin  2024-10-11 00:00:00
idxmax  2025-08-14 00:00:00