In [127]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

# Beyond 1

Create a data frame from four other columns (`VendorID`, `trip_distance`, `tip_amount`, and `total_amount`), specifying the `dtype` for each. What types are most appropriate? Can you use them directly, or must you first clean the data?


번역: 네 개의 다른 열(VendorID, trip_distance, tip_amount, total_amount)로부터 데이터프레임을 생성하고, 각 열에 대해 dtype을 지정하세요. 어떤 자료형이 가장 적절한가요? 바로 사용할 수 있나요, 아니면 먼저 데이터를 정리(클리닝)해야 하나요?

In [128]:
df = pd.read_csv('../data/nyc_taxi_2020-01.csv',
                usecols=['VendorID', 'trip_distance', 'tip_amount', 'total_amount'],
                dtype={'VendorID':np.float32,
                       'trip_distance':np.float32, 
                       'tip_amount':np.float32,
                       'total_amount':np.float32})

df = df.dropna().copy()
df.loc['VendorID'] = df['VendorID'].astype(np.int8)
#df.loc['VendorID'] = df['VendorID'].astype(np.int8)은 
#새로운 행을 추가하는 것으로, 데이터 타입을 변경하고 싶으면 df['VendorID'] = df['VendorID'].astype(np.int8)로 해야 한다.
# df 를 실행해보면 VendorID의 값들이 여전히 float형이며, 제일 마지막 행에 VendorID라는 인덱스를 가진 행이 추가된 것을 확인할 수 있다.

/var/folders/d9/j0qdg7qj62lcz91ls2jr2rnm0000gn/T/ipykernel_76314/1820522671.py:9: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df.loc['VendorID'] = df['VendorID'].astype(np.int8)

# Beyond 2

Instead of removing `NaN` values from the `VendorID` column, set it to a new value, 3. How does that affect your specifications and cleaning of the data?

번역: VendorID 열에서 NaN 값을 제거하는 대신, 새로운 값 3으로 설정하세요. 그렇게 하면 데이터의 dtype 지정과 정리(클리닝)에 어떤 영향이 있나요?

In [129]:
df = pd.read_csv('../data/nyc_taxi_2020-01.csv',
            usecols=['VendorID', 'trip_distance', 'tip_amount', 'total_amount'],
            dtype={'VendorID':np.float32, 
                   'trip_distance':np.float32,
                   'tip_amount':np.float32,
                  'total_amount':np.float32}
                  )

df['VendorID'] = df['VendorID'].fillna(3)
df['VendorID'] = df['VendorID'].astype(np.int8)

df

         VendorID  trip_distance  tip_amount  total_amount
0               1       1.200000        1.47     11.270000
1               1       1.200000        1.50     12.300000
2               1       0.600000        1.00     10.800000
3               1       0.800000        1.36      8.160000
4               2       0.000000        0.00      4.800000
...           ...            ...         ...           ...
6405003         3       3.240000        0.00     21.139999
6405004         3      22.129999        0.00     62.459999
6405005         3      10.510000        0.00     51.900002
6405006         3       5.490000        0.00     30.219999
6405007         3      11.600000        0.00     58.110001

[6405008 rows x 4 columns]

# Beyond 3

We'll talk more about this in future chapters, but the `memory_usage` method allows you to see how much memory is being used by each column in a data frame. It returns a series of integers, in which the index lists the columns and the values represent the memory used by each column. Compare the memory used by the data frame with `float32` (which you've already used) and when you use `float64` instead for the final three columns.


번역:
앞으로 더 다루겠지만, memory_usage 메서드는 데이터프레임의 각 열이 얼마나 많은 메모리를 사용하는지 보여줍니다. 이 메서드는 인덱스에 열 이름이, 값에는 각 열이 사용하는 메모리 크기가 담긴 정수 Series를 반환합니다. 이미 사용한 float32을 썼을 때와, 마지막 세 열을 대신 float64로 사용했을 때 데이터프레임의 메모리 사용량을 비교하세요.


# float16을 쓴 적이 없음. 따라서 float32 와 float64를 비교하는 것으로 보임.
## 아래 코드들 모두 수정

In [130]:
# Memory usage with float32
df.memory_usage().sum()

np.int64(83265236)

In [131]:
df = pd.read_csv('../data/nyc_taxi_2020-01.csv',
            usecols=['VendorID', 'trip_distance', 'tip_amount', 'total_amount'],
            dtype={'VendorID':np.float64, 
                   'trip_distance':np.float64,
                   'tip_amount':np.float64,
                  'total_amount':np.float64})

df['VendorID'] = df['VendorID'].fillna(3)
df['VendorID'] = df['VendorID'].astype(np.int8)

In [132]:
# Memory usage with float64
df.memory_usage().sum()

np.int64(160125332)

In [133]:
# float64 uses about 1.9x the memory as float32!
160125328 / 83265236

1.9230754116880182