In [25]:
import pandas as pd
from pandas import Series, DataFrame

df = pd.read_csv('../data/nyc_taxi_2019-01.csv',
                usecols=['passenger_count', 'trip_distance',
                        'total_amount', 'payment_type'])

# Beyond 1

Repeat this exercise, but using the `query` method rather than a boolean index.

In [26]:
# How many taxi rides had more than 8 passengers (query version)
df.query('passenger_count > 8')['passenger_count'].count()
#query 메소드를 이용하여 조건에 맞는 행을 필터링
# df.query('passenger_count > 8') 여기까지하면 모든 컬럼이 다 나옴.
# 대괄호를 통해 특정 컬럼만 선택 가능
# ['passenger_count'] 특정 컬럼 선택
# 그 후 count() 메소드를 이용하여 행의 개수를 셈

np.int64(9)

In [27]:
# How many taxi rides had zero passengers (query version)
df.query('passenger_count == 0')['passenger_count'].count()
# passenger_count가 0인 행의 개수를 셈

np.int64(117381)

In [28]:
# How many taxi rides were paid for in cash, and cost more than $1,000? (query version)
df.query('payment_type == 2 & total_amount > 1000')['payment_type'].count()
# payment_type이 2(현금)이고 total_amount가 1000보다 큰 행의 개수를 셈

np.int64(5)

In [29]:
# How many rides cost less than 0? (query version)
df.query('total_amount < 0')['total_amount'].count()
# total_amount가 0보다 작은 total_amount열의 데이터 개수를 셈

np.int64(7131)

In [30]:
# How many rides traveled a below-average distance, but cost an above-average amount?
# (query version)
df.query('trip_distance < trip_distance.mean() & total_amount > total_amount.mean()')['trip_distance'].count()
# trip_distance가 평균보다 작고 total_amount가 평균보다 큰 것들 중 trip_distance 컬럼의 데이터 개수를 셈

np.int64(411255)

# Beyond 2

How many of the rides that cost less than 0 were indeed for either a dispute (`payment_type` of 4) or a voided trip (`payment_type` of 6)?

번역: 요금이 0 미만인 승차 중에서 실제로 분쟁(payment_type = 4) 또는 취소된 여행(payment_type = 6)에 해당하는 것은 몇 건인가요?

In [31]:
df.loc[(df['total_amount'] < 0) & 
       ((df['payment_type'] == 4) | 
        (df['payment_type'] == 6)), 'total_amount'].count()
# total_amount가 0보다 작은, 즉 이상한 값을 가진 행들 중에서
# payment_type이 4(분쟁) 또는 6(취소)인 행의 total_amount 컬럼의 데이터 개수를 셈

np.int64(2666)

# Beyond 3

I stated above that most people pay for their taxi rides using a credit card. Show this, and find what percentages normally pay in cash vs. a credit card.


번역: 앞에서 대부분의 사람이 택시 요금을 신용카드로 결제한다고 말했습니다. 이를 보여주고, 일반적으로 현금과 신용카드로 지불하는 비율이 각각 얼마인지 구하세요.

In [32]:
# 1 == credit card
# 2 == cash

df['payment_type'].value_counts(normalize=True)[[1,2]]
#value_counts 메소드를 이용하여 payment_type 컬럼의 각 값의 빈도수를 계산하고,
# normalize=True 옵션을 사용하여 비율로 변환
# [[1,2]]를 통해 신용카드와 현금 결제 비율만 선택

payment_type
1    0.715464
2    0.278752
Name: proportion, dtype: float64